<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="gata_user_js(page_title,custom_map_str,is_leave)">
<title th:text="${page_title}"></title>
<script async
	src="https://www.googletagmanager.com/gtag/js?id=UA-135887668-1"></script>
<script  th:inline="javascript">
window.dataLayer = window.dataLayer || [];
function gtag() {
	dataLayer.push(arguments);
}
gtag('js', new Date());

var user_id = [[${session._ga_user_id}]] || "";
var custom_map_str = [[${custom_map_str}]]||"";
var custom_map = parse_th_custom_map_str2json(custom_map_str);
var config_map = new Object();

if (user_id) {
	config_map.user_id = user_id;
	config_map.client_id = user_id;
	if(!custom_map)
		custom_map = new Object();
	custom_map.dimension4 = user_id;
	
}
if (custom_map) {
	config_map.custom_map = custom_map;
}
console.log(config_map);
gtag('config', 'UA-135887668-1',config_map);
if([[${is_leave}]]){
	document.write( "<script type='text/javascript' src = '/gtag_leave_page.js'><\/script>");
}

if(user_id){
	gtag('event', 'user_track', {'user_id': user_id});
}

function parse_th_custom_map_str2json (custom_map_str){
	if(custom_map_str){
		var custom_map = new Object();
		var custom_map_attrs = custom_map_str.split(",");
		for(att_i in custom_map_attrs){
			var kv = custom_map_attrs[att_i].split(":");
			custom_map[kv[0]] = kv[1]; 
		}
		return custom_map;
	}
	return "";
} 
</script>


</head>
  
</html>

